@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Jost', sans-serif;
}
body {
  background: #252B46;
}


